
body {
	background-color: #181818;
    margin-top: 0.5;
    margin-bottom: 0.5;
    margin-left: 0.5;
    margin-right: 0.5;
}

.title {
	font-family: "Arial";
	text-align: center;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:1
}

p {
	background-image: url(https://media.giphy.com/media/XQ9sBWPeHwz4yew6Jl/giphy.gif);
	background-size: cover;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 12px;
	margin: 0px 0;
}